code, pre { font-family: Consolas, Monaco, "Courier New", Courier, monospace; color: #000; }

pre {
	background: #f3f3f7;
	border: 1px solid #dedee3;
	padding: 11px;
	font-size: 12px;
	line-height: 1.3em;
	margin-bottom: 22px;
	overflow: auto;
}

.linuxterminal {
	background:#000000;
	color:#ffffff;
}
